@{
    ViewBag.Title = "CandyCount";
}

<div id="candyCountApp" >
    
    <ul id="candyCountLinks">
        <li>@Html.ActionLink("Index","Index")</li>
        <li>@Html.ActionLink("Add","Add")</li>
    </ul>
    <div data-bind="if: countedCandy">
        <label>What kind of candy? <select data-bind="value: countedCandy().Candy, options: candyTypes, optionsText: 'Name'"></select>
            <button class="btn btn-mini btn-link" data-bind="click: makeNewCandyType" >new</button></label>
        <div  data-bind="with: candyType">
            <div class="alert alert-info input-large">
            <button type="button" class="close">×</button>
            <label><span class="input-small">Name</span><input type="text" data-bind="value: Name"/></label>
            <label><span class="input-small">Colors</span><textarea data-bind="value: ColorNames"></textarea></label>
                <button  data-bind="click: $parent.madeNewCandyType">OK</button>
                </div>
        </div>
        <div data-bind="foreach: countedCandy().Colors">
            <label><span class="input-small" data-bind="text: Name" ></span> <input class="input-small" type="number" min="0" data-bind="value: Total" /></label>
        </div>
    </div>
    

</div>
@section scripts
{
    @Scripts.Render("~/bundles/candy")
    <script>

        $(function() {
            candyCount.app.start("#candyCountApp");
        });

    </script>
}
