@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    <h3>
        Things to do
    </h3>
    <ul>
        <li>@Html.ActionLink("Candy Counting","Index","CandyCount",null,new{alt="Candy Counting", title="For folks who love sorting and counting colored candy"})</li>   
    </ul>

}